<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CLIENT_ID</key>
	<string>570212154944-f9lgmu4rrmg9gath430johbsqvk35s0l.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.570212154944-f9lgmu4rrmg9gath430johbsqvk35s0l</string>
	<key>ANDROID_CLIENT_ID</key>
	<string>570212154944-a67tdv1j570pscsogdb0t5oo5r19n9bu.apps.googleusercontent.com</string>
	<key>API_KEY</key>
	<string>AIzaSyDy_fZwHUgJGrT1mktBV6KFT7trCQ5vZMY</string>
	<key>GCM_SENDER_ID</key>
	<string>570212154944</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.example.marketPlace</string>
	<key>PROJECT_ID</key>
	<string>market-place-c4bdc</string>
	<key>STORAGE_BUCKET</key>
	<string>market-place-c4bdc.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:570212154944:ios:11574a0fad9b416b67e9a5</string>
	<key>DATABASE_URL</key>
	<string>https://market-place-c4bdc.firebaseio.com</string>
</dict>
</plist>